[submodule "bundle/autocomplete-swift"]
	path = bundle/autocomplete-swift
	url = https://github.com/mitsuse/autocomplete-swift
	ignore = dirty
[submodule "bundle/better-indent-support-for-php-with-html"]
        path = bundle/better-indent-support-for-php-with-html
	url = https://github.com/captbaritone/better-indent-support-for-php-with-html
	ignore = dirty
[submodule "bundle/deoplete.nvim"]
	path = bundle/deoplete.nvim
	url = https://github.com/shougo/deoplete.nvim
	ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/ddollar/nerdcommenter
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/xuyuanp/nerdtree-git-plugin
	ignore = dirty
[submodule "bundle/php.vim"]
	path = bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
	ignore = dirty
[submodule "bundle/phpcomplete.vim"]
	path = bundle/phpcomplete.vim
	url = https://github.com/shawncplus/phpcomplete.vim.git
	ignore = dirty
[submodule "bundle/pydoc.vim"]
	path = bundle/pydoc.vim
	url = https://github.com/vim-scripts/pydoc.vim--Repass.git
	ignore = dirty
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
	ignore = dirty
